body {
  background-color: azure;
}

#modal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#addcarmodal {
  background-color: white;
  margin: 150px auto;
  padding: 2em;
  width: 25em;
  height: 25em;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  font-family: helvetica;
}

#openmodal {
  margin: 1em auto auto 16em;
  width: 10em;
  height: 2em;
}

#display {
  font-family: arial;
  margin: 1em auto 1em 3em;
  padding: .5em;
  width: 75%;

  h4 {
    margin: auto auto -1em .5em;
  }
}

details {
  font-size: .8em;
  cursor: pointer;
}

#delete {
  width: 1.5em;
  height: 1.5em;
  font-size: 10px;
  font-weight: bold;
  padding: 0;
  background-color: red;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

#info > label {
  margin: auto .4em auto 1em;
}

#make {
  margin: auto auto 1em 6.9em;
}

#price {
  margin: auto auto 1em 7.2em;
}

#type {
  margin: auto auto 1em 7.4em;
}

#model {
  margin: auto auto 1em 6.6em;
}

#image {
  margin: auto auto 1em 6.6em;

}

#manufacturer_id {
  margin: auto auto 1em 1.5em;
}

#vehicleinfo {
  text-align: center;
}

#carimg {
  width: 10em;
}

#head {
  width: 100%;
  height: 4.5em;
  background-color: darken(azure, 70%);
}

#logo {
  width: 15em;
  margin-left: 10em;
}

#addcar, #closemodal {
  margin: .4em auto auto 2em;
}
